/*FUENTES*/
body { font-family: 'Mulish', sans-serif !important; }

a{ text-decoration: none !important; }

li{ list-style: none !important; }

ul{ margin: 0 !important;}

p{ margin-bottom: 0px !important;}

.mensaje{
    width: 100%;
    background-color: var(--green);
    padding: 2px;
    text-align: center;
    color: var(--blanco);
    border-radius: 10pc;
    margin-top: 4px;
}


/*ESTILOS GENERALES DE COMENTARIOS*/
.imagen-comentario {
   width: 20px;
   height: 20px;
   border-radius: 50%;
}

.comentarios-altura {
   max-height: 300px;
   overflow: scroll;
   margin-top: 20px;
}

.imagen-publicaciones {
    width: 180px;
    height: 180px;
    border-radius: 50%;
 }


 .imagen-usuario {
    width: 80px;
    height: 80px;
    border-radius: 50%;
 }


 .imagen-show{
   width: 350px;
   height: 350px;
 }


 .border-input { border: 1px solid var(--green);}

 .fondo-publicaciones{
   padding: 1.4rem;
   background-color: var(--gris);
   border-radius: 10px;
   margin-bottom: 30px
 }
 
 .imagen-logo {
   width: 80px;
   height: 60px;
 }