/*FUENTES*/
body{ font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;}

a{ text-decoration: none !important; }

li{ list-style: none !important; }

ul{ margin: 0 !important;}

p{ margin-bottom: 0px !important;}

iframe { width: 100vw;height: 315px; }

/*CONTENEDOR*/
.mi-contenedor{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.entre {
    display: flex;
    justify-content: center;
}

.item-center{ align-items: center;}

.mi-flex{ display: flex; align-items: center;}

.grid-dos {
    display: grid;
    grid-template-columns: repeat(2,2fr);
}

.grid-tres {
    display:  grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.grid-cuatro {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.espacio-arriba-titulos { padding-top: 4.5rem !important;}
.texto-centrado{ text-align: center;}
.padding-arriba {padding-top: 3.7rem;}
.espacio-arriba { margin-top: 4rem !important;}
.espacio-entre { gap: 3rem; padding-top: 3.3rem;}
.relleno { padding: 50px 0px 50px 0px;}

.mi-boton{
    display: inline-block;
    border: 1px solid var(--green);
    border-radius: 10px;
    font-weight: 400;
}

.gris { background-color: var(--gris); border-radius: 10px;}

.crear-boton{
    display: inline-block;
    padding: 8px;
    text-align: center;
    box-sizing: border-box !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    color: var(--negro);
}

.crear-boton-espacio {
    margin-left: 10px;
    margin-right: 10px;
}

.btn-header{
    border: none;
    font-size: 2rem;
    padding: .7rem 2.5rem;
    text-align: center;
    box-sizing: border-box !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 45px;
    color: var(--blanco);
    border: 1px solid var(--green);
}
.btn-header:hover{ background-color: var(--green);}

.color-blanco {background-color: rgb(255, 255, 255);}
.color-verde {
    background-color: var(--green);
    color: var(--blanco);
    margin-top: 10px;
}

.azul {background-color: var(--azul);}
.rojo {background-color: var(--rojo);}
.text-blanco {color: var(--blanco); border-radius: 25px;}

.crear:hover{
    color: var(--blanco);
    background-color: var(--azul);
}

.salir:hover{
    color: var(--blanco);
    background-color: var(--rojo);
}



.mensaje{
    width: 100%;
    background-color: var(--green);
    padding: 2px;
    text-align: center;
    color: var(--blanco);
    border-radius: 10pc;
    margin-top: 4px;
}


/*ESTILOS GENERALES DE COMENTARIOS*/
.imagen-comentario {
   width: 20px;
   height: 20px;
}

/*ESTILO IMAGEN HOME*/
.imagen-home {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    object-fit: cover;
}

.tiempo-comentario {
    font-size: 13px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif
}

.descripcion-comentario {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif
}


.comentarios-tamanio { width: 100%;}
.comentarios-borde { border-bottom: 1px solid var(--gris); padding: 4px;}
.comentarios-altura {max-height: 350px; overflow: scroll; margin-top: 2rem;}

.tamanio-letra-logo { size: 34px;}
.tamanio-icon { font-size: 34px;}



.estilo-dev { font-weight: bold; }

/*PARA QUITAR EL MARGIN EN UL DEL MISMO BOOSTRAP*/
ol, ul { padding-left: 0rem !important; }
