

/*IAMGEN LOGO GENERAL*/
.logo img {
    width: 35px;
    height: 35px;
}

.img-usuario-comentario { 
    width: 20px;
    height: 20px;
}

/*ESTILOS header*/
.header {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/7509366/pexels-photo-7509366.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .header-descripcion{
    padding: 4rem;
}

.header .header-descripcion h1{
   color: var(--blanco);
   font-size: 44px;
   font-weight: bold;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.header .header-descripcion p{
    color: var(--blanco);
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
 }
 



/*Nosotros*/
.nosotros {
    padding: 90px 0px 90px 0px;
}

.nosotros .check-nosotros i{
   color: var(--green);
   font-size: 25px;
   padding: 0;
}

.nosotros .imagen-nosotros img{
    width: 450px;
    height: 300px;
    border-radius: 10px; 
}



/*ESTILOS DE CURSO-BLOQUES*/
#contenido-bloques {background-color: var(--gris); padding-top: 65px; padding-bottom: 65px;}
#contenido-bloques .mi-card {
    width: 100%;
    height: auto;
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
  }

  #contenido-bloques .mi-card-content {
    padding: 20px;
  }

  #contenido-bloques .mi-card:hover {
    transform: scale(1.1);
  }


  #contenido-bloques .contenido-bloques-titulo {
    font-size: 23px;
    text-align: center;
    color: var(--general);
  }
  #contenido-bloques .imagen{ width: 100px; height: 100px; text-align: center; margin: 15px 0px 15px 0px;}
  #contenido-bloques .contenido-bloques-parrafo { text-align: justify; font-size: 12.5px;}





/*ESTILOS FONDO AGRICULTURA*/
.fondo-agricultura{
   background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),  url(https://images.pexels.com/photos/2749165/pexels-photo-2749165.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; 
   background-attachment: fixed;
}

.fondo-agricultura .titulo-fondo-agricultura{
  text-align: center;
  font-size: 40px;
  color: var(--blanco);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.fondo-agricultura .titulo-fondo-agricultura span {
    font-weight: bold;
    font-size: 45px;
    color: var(--green);
}




/*CAJA USUARIO*/
.publicacion .caja-usuario-publicacion{
    background-color: var(--gris);
    padding: 1rem;
    border-radius: 10px;
}

.publicacion .caja-usuario-publicacion .img-caja-usuario-publicacion{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}

/*************************************PUBLICACIONES********************************/
.publicacion .img-publicacion{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-align: center;
}

.publicacion .listar-publicacion {
    width: 40%;
}

.publicacion .titulo-publicacion{
    text-align: center;
    font-size: 2rem;
    padding: 50px 0px 50px 0px;
}

.publicacion .contenido-publicacion{
    padding: 1.4rem;
    background-color: var(--gris);
    border-radius: 10px;
    margin-bottom: 30px;
}

.tamanio-publicacion { width: 33.3%;}



/*ESTILOS BUSCADOR*/
#buscador {
    background-color: var(--gris);
    padding-top: 40px;
    padding-bottom: 40px;
}




/************ESTILOS PUBLICACIONES EN MI PERFIL(LO QUE YO HE PUBLICADO)***************/
.mi-publicacion .mi-contenido-publicacion .mi-imagen-publicacion img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.mi-publicacion .my-titulo-publicacion {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mi-publicacion .mi-contenido-publicacion .mi-descripcion-publicacion .titulo{
   font-weight: 600;
}


