
/*ARRANCA DESDE EL MINIMO 0PX DE ANCHO HASTA EL MAXIMO DE 460PX DE ANCHO*/
@media (min-width: 0px) and (max-width: 800px){ 
    .flex-evenly {
       flex-direction: column;
    }

    .registro-usuario-imagen img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .relleno {
        padding: 0px;
    }

    .registro-usuario-formulario {
         width: 100%; 
    }
}
