
/*ARRANCA DESDE EL MINIMO 0PX DE ANCHO HASTA EL MAXIMO DE 460PX DE ANCHO*/
@media (min-width: 0px) and (max-width: 800px){  
 #busacdor .grid-dos {
     grid-template-columns: repeat(1,1fr);
 } 

 #busacdor .grid-dos iframe{
    height: 220px !important;
    background-color: blueviolet;
 }
}