
/*ARRANCA DESDE EL MINIMO 0PX DE ANCHO HASTA EL MAXIMO DE 460PX DE ANCHO*/
@media (min-width: 0px) and (max-width: 800px){ 
    /*MOSTRAMOS EL MENU EN PANTALLA MOBILE*/
    .caja-menu-responsive{
        display: block;
        display: flex;
    }

    /*ESCONDEMOS LA NAVEGACION*/
    .navegacion {
        display: none;    
    }

    .navegacion .flex-between{
        flex-direction: column;
    }

    .crear-boton {
        margin-top: 5px;
        display: block;
    }

}


