
/*ARRANCA DESDE EL MINIMO 0PX DE ANCHO HASTA EL MAXIMO DE 460PX DE ANCHO*/
@media (min-width: 0px) and (max-width: 800px){ 
    .ver-publicacion img {
        width: 100%;
        height: 280px;
        object-fit: cover;
    }

    .entre {
        flex-direction: column;
    }

    /*TAMAÑO DE LA PUBLICACION*/
    .publicacion .listar-publicacion {
        width: 100%;
    }

    .grid-tres {
        grid-template-columns: repeat(1,1fr);
    }
    
}


